


<!-- Contact -->

<div class="">
  <h4 class=""></h4>

  <form class="email-form" name="newsletter" method="POST" data-netlify="true" netlify-honeypot="bot-field">
  <div hidden aria-hidden="true">
    <label>
      Don’t fill this out if you're human: 
      <input name="bot-field" />
    </label>
  </div>
    
    <div class="">
      <!-- Name -->
      <div class="">
      
          <input type="text" id="name" name="name" placeholder="Nome" class="" required size="35"><br></br>
          <label for="name"></label>
        
      </div>
      <!-- Email -->
      <div class="">
        
          <input type="email" id="email" name="email" placeholder="Email" class="" required size="35"><br></br>
        <label for="email"></label>
       
      </div>
    </div>

    <!-- Message -->
   
      <textarea id="message" name="message" placeholder="Sua mensagem" rows="8" cols="35" class="" required ></textarea><br><br/>
      <label for="message"></label>
    
    <!-- Button -->
    <div class="">
      <button type="submit" class="">Enviar</button>
    </div>
  </form>
    
</div>
 
  <script>
    const emailForm = document.querySelector('.email-form')
if (emailForm) {
  emailForm.addEventListener('submit', e => {
    e.preventDefault();
    processForm(emailForm);
  })
}
    const processForm = form => {
  const data = new FormData(form)
  data.append('form-name', 'newsletter');
  fetch('/', {
    method: 'POST',
    body: data,
  })
  .then(() => { 
    form.innerHTML = `<div style="background:#90EE90;text-align:center">Obrigado ! Seu email foi enviado com sucesso !</div>`;
  })
  .catch(error => {
    form.innerHTML = `<div class="form--error">Error: ${error}</div>`;
  })
}
  </script>
