<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <a href="/" class="pa3 db mr4 h-100 w3 flex-none">
		<img src="" alt="" class="br0 db mb0 w-100"/>Home
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		
<a href="/contact" class="br0 db mb0 w-100">Home</a>
		
	</ul>
    <ul>
        {{ $currentNode := . }}
        
        {{ range .Site.Menus.main }}
            {{.Pre}}
            <li class="nav-opened{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .)}} nav-current{{end}}" role="presentation">
            	<a href="{{.URL}}">{{.Name}}</a>
                
            </li>
             
        {{end}}
    </ul>
    
    {{ if .Site.Params.RSSLink}}
    <a class="subscribe-button icon-feed" href="{{.Site.Params.RSSLink }}">Inscreva-se e receba novidades</a> </div>
    {{else}}
    <a class="subscribe-button icon-feed" href="{{if .IsNode}}{{.RSSLink}}{{else}}{{ .Site.BaseURL }}index.xml{{end}}">Inscreva-se e receba novidades</a>
    {{end}}
</div>
<span class="nav-cover"></span>
